doctype html

html
  head
      title= title
      link(rel="manifest" href="/manifest.json")
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
      meta(name="mobile-web-app-capable" content="yes")
      block head
  
  body
  
    block content

    block footer
  
    script(src="https://use.fontawesome.com/75c32f94d7.js")
